<div class="grid columns-2 ga5 items-center mv4">

  {% for post in site.posts %}
	<a class="dim aspect-ratio aspect-ratio--4x3" href="{{ site.baseurl }}{{ post.url | remove_first:'/'}}">
		<div class="grid items-center aspect-ratio--object cover center" style="background-image: url({{ site.baseurl }}{{ post.featured-image }}" >

			{% if post.white == true %}
			<h2 class="tc white f3 no-underline tracked"> {{ post.title }} </h2>
			{% else %}
			<h2 class="tc black f3 no-underline tracked"> {{ post.title }} </h2>
			{% endif %}

		</div>
	 </a>
  {% endfor %}


</div>