<!-- Image 1 and 2 --->
<div class="mt5 ga5 grid columns-1 columns-3-m columns-6-l align-items-center">

	<div class="column-start-1-ns column-end-4-m column-end-4-l ">
		<a href="{{ site.baseurl }}{{ page.collection-url-1 }}">
			<img src="{{ site.baseurl }}{{ page.image-1 }}">
			<p class="tracked"><span class="f5 mr2 b sans-serif">{{ page.cat-number-1 }}</span>{{ page.caption-1 }}</p>
		</a>
	</div>

	<div class="column-start-4-ns column-end-7-ns">
		<a href="{{ site.baseurl }}{{ page.collection-url-2 }}">
		<img src="{{ site.baseurl }}{{ page.image-2 }}">
		<p class="tracked"><span class="f5 mr2 b sans-serif">{{ page.cat-number-2 }}</span>{{ page.caption-2 }}</p>
	</a>
	</div>

</div>

<!-- Image 3 --->
<div class="mt5 ga5 grid columns-1 ">
	<div class="">
		<a href="{{ site.baseurl }}{{ page.collection-url-3 }}">
		<img src="{{ site.baseurl }}{{ page.image-3 }}">
		<p class="tracked"><span class="f5 mr2 b sans-serif">{{ page.cat-number-3 }}</span>{{ page.caption-3 }}</p>
	</a>	
	</div>
</div>

<!-- Image 4 and 5 --->
<div class="mt5 ga5 grid columns-1 columns-3-m columns-6-l align-items-center">

	<div class="column-start-1-ns column-end-4-m column-end-4-l ">
		<a href="{{ site.baseurl }}{{ page.collection-url-4 }}">
		<img src="{{ site.baseurl }}{{ page.image-4 }}">
		<p class="tracked"><span class="f5 mr2 b sans-serif">{{ page.cat-number-4 }}</span>{{ page.caption-4 }}</p>
	</a>
		
	</div>

	<div class="column-start-4-ns column-end-7-ns">
		<a href="{{ site.baseurl }}{{ page.collection-url-5 }}">
		<img src="{{ site.baseurl }}{{ page.image-5 }}">
		<p class="tracked"><span class="f5 mr2 b sans-serif">{{ page.cat-number-5 }}</span>{{ page.caption-5 }}</p>
	</a>
	</div>
</div>

<!-- Image 6 --->
<div class="mt5 ga5 grid columns-1 ">
	<div class="">
		<a href="{{ site.baseurl }}{{ page.collection-url-6 }}">
		<img src="{{ site.baseurl }}{{ page.image-6 }}">
		<p class="tracked"><span class="f5 mr2 b sans-serif">{{ page.cat-number-6 }}</span>{{ page.caption-6 }}</p>
	</a>	
	</div>
</div>

<!-- Image 7 and 8 --->
<div class="mt5 ga5 grid columns-1 columns-3-m columns-6-l align-items-center">

	<div class="column-start-1-ns column-end-4-m column-end-4-l ">
		<a href="{{ site.baseurl }}{{ page.collection-url-7 }}">
		<img src="{{ site.baseurl }}{{ page.image-7 }}">
		<p class="tracked"><span class="f5 mr2 b sans-serif">{{ page.cat-number-7 }}</span>{{ page.caption-7 }}</p>
	</a>		
	</div>

	<div class="column-start-4-ns column-end-7-ns">
		<a href="{{ site.baseurl }}{{ page.collection-url-8 }}">
		<img src="{{ site.baseurl }}{{ page.image-8 }}">
		<p class="tracked"><span class="f5 mr2 b sans-serif">{{ page.cat-number-8 }}</span>{{ page.caption-8 }}</p>
	</a>	
	</div>
</div>

<!-- Image 9 --->
<div class="mt5 ga5 grid columns-1 ">
	<div class="">
		<a href="{{ site.baseurl }}{{ page.collection-url-9 }}">
		<img src="{{ site.baseurl }}{{ page.image-9 }}">
		<p class="tracked"><span class="f5 mr2 b sans-serif">{{ page.cat-number-9 }}</span>{{ page.caption-9 }}</p>
	</a>	
	</div>
</div>


