<div class="mt5 ga5 grid columns-1 columns-6-ns align-items-center">

	<div class="column-start-1-ns column-end-3-ns aspect-ratio aspect-ratio--1x1">
		<div class="aspect-ratio--object cover" style="background:url({{ site.baseurl }}{{ page.image-1 }})"></div>
		<p class="tracked">Test {{ page.caption-1 }}</p>
	</div>

	<div class="bg-black column-start-4-ns column-end-7-ns aspect-ratio aspect-ratio--4x6">
		<div class="aspect-ratio--object cover" style="background:url({{ site.baseurl }}{{ page.image-2 }})"></div>
	</div>

</div>

<div class="mt5 ga5 grid columns-1 columns-6-ns">

	<div class="bg-black column-start-1-ns column-end-3-ns h5">
		<img src="{{ site.baseurl }}{{ page.image-1 }}">
	</div>

	<div class="bg-black column-start-4-ns column-end-7-ns h5">
		<img src="{{ site.baseurl }}{{ page.image-2 }}">
	</div>

</div>