<div class="grid columns-1 columns-3-m">

	<div class="relative">
		<a class="dim no-underline black" href="{{ site.baseurl }}{{ page.collection-url-1 }}">
			<img src="{{ site.baseurl }}{{ page.image-1 }}">
		</a>
		<p class="f-headline absolute top-0 top--5-ns left-0 left--2-ns ma0">{{ page.cat-number-1 }}</p>
		<p class="tracked f6">{{ page.caption-1 }}</p>
	</div>

	<div class="relative">
		<a class="dim no-underline black" href="{{ site.baseurl }}{{ page.collection-url-2 }}">
			<img src="{{ site.baseurl }}{{ page.image-2 }}">
		</a>
		<p class="f-headline absolute bottom-2 right-0 ma0">{{ page.cat-number-2 }}</p>
		<p class="tracked f6">{{ page.caption-2 }}</p>
	</div>

	<div class="relative">
		<a class="dim no-underline black" href="{{ site.baseurl }}{{ page.collection-url-3 }}">
			<img src="{{ site.baseurl }}{{ page.image-3 }}">
		</a>
		<p class="f-headline absolute top-0 top--5-ns left-0 left--2-ns ma0">{{ page.cat-number-3 }}</p>
		<p class="tracked f6">{{ page.caption-3 }}</p>
	</div>

	<div class="relative">
		<a class="dim no-underline black" href="{{ site.baseurl }}{{ page.collection-url-4 }}">
			<img src="{{ site.baseurl }}{{ page.image-4 }}">
		</a>
		<p class="f-headline absolute bottom-4 right-0 ma0">{{ page.cat-number-4 }}</p>
		<p class="tracked f6">{{ page.caption-4 }}</p>
	</div>

		<div class="relative">
		<a class="dim no-underline black" href="{{ site.baseurl }}{{ page.collection-url-5 }}">
			<img src="{{ site.baseurl }}{{ page.image-5 }}">
		</a>
		<p class="f-headline absolute top-0 top--5-ns left-0 left--2-ns ma0">{{ page.cat-number-5 }}</p>
		<p class="tracked f6">{{ page.caption-5 }}</p>
	</div>

	<div class="relative">
		<a class="dim no-underline black" href="{{ site.baseurl }}{{ page.collection-url-6 }}">
			<img src="{{ site.baseurl }}{{ page.image-6 }}">
		</a>
		<p class="f-headline absolute bottom-2 right-0 ma0">{{ page.cat-number-6 }}</p>
		<p class="tracked f6">{{ page.caption-6 }}</p>
	</div>

		<div class="relative">
		<a class="dim no-underline black" href="{{ site.baseurl }}{{ page.collection-url-7 }}">
			<img src="{{ site.baseurl }}{{ page.image-7 }}">
		</a>
		<p class="f-headline absolute top-0 top--5-ns left-0 left--2-ns ma0">{{ page.cat-number-7 }}</p>
		<p class="tracked f6">{{ page.caption-7 }}</p>
	</div>

	<div class="relative">
		<a class="dim no-underline black" href="{{ site.baseurl }}{{ page.collection-url-8 }}">
			<img src="{{ site.baseurl }}{{ page.image-8 }}">
		</a>
		<p class="f-headline absolute bottom-2 right-0 ma0">{{ page.cat-number-8 }}</p>
		<p class="tracked f6">{{ page.caption-8 }}</p>
	</div>

		<div class="relative">
		<a class="dim no-underline black" href="{{ site.baseurl }}{{ page.collection-url-9 }}">
			<img src="{{ site.baseurl }}{{ page.image-9 }}">
		</a>
		<p class="f-headline absolute top-0 top--5-ns left-0 left--2-ns ma0">{{ page.cat-number-9 }}</p>
		<p class="tracked f6">{{ page.caption-9 }}</p>
	</div>

	<div class="relative">
		<a class="dim no-underline black" href="{{ site.baseurl }}{{ page.collection-url-10 }}">
			<img src="{{ site.baseurl }}{{ page.image-10 }}">
		</a>
		<p class="f-headline absolute bottom-2 right-0 ma0">{{ page.cat-number-10 }}</p>
		<p class="tracked f6">{{ page.caption-10 }}</p>
	</div>
	

</div>