<section class="grid columns-1 columns-5-ns w-100 bg-black pa4 pa5-ns">

<div class="column-start-1-ns pb4">
	<a class="pointer pa2-ns" href="{{ site.baseurl }}/index.html">
	<img class="glow w4 o-80" src="{{ site.baseurl }}/assets/logo/logo-white.svg">
	</a>
</div>


<div class="column-start-4-ns pr3">
	<a class="glow no-underline white o-50 pb3 db f5 tracked" href="{{ site.baseurl }}about.html">About</a>
	<a class="glow no-underline white o-50 pb3 db f5 tracked" href="{{ site.baseurl }}collection.html">Collection</a>
	<a class="glow no-underline white o-50 pb3 db f5 tracked" href="{{ site.baseurl }}services.html">Services</a>
	<a class="glow no-underline white o-50 pb3 db f5 tracked" href="{{ site.baseurl }}our-brides.html">Our brides</a>
</div>



	<div class="column-start-5-ns">
		<a class="glow no-underline white o-50 pb3 db f5 tracked" href="{{ site.baseurl }}contact.html">Contact</a>
		<a class="glow no-underline white o-50 pb3 db tracked" href="{{ site.baseurl }}facebook">Facebook</a>
		<a class="glow no-underline white o-50 pb3 db tracked" href="{{ site.baseurl }}instagram">Instagram</a>
		<a class="glow no-underline white o-50 pb3 db tracked" href="{{ site.baseurl }}pinterest">Pinterest</a>
	</div>

	
</section>

</div>
</body>

<script type="text/javascript">
	/* Open */
function openNav() {
  document.getElementById("nav").style.display = "grid";
}

/* Close */
function closeNav() {
  document.getElementById("nav").style.display = "none";
}
</script>

</html>
