<section class="w-100 bg-light-gray">
	<div class="pa3 pa5-ns mw8-ns grid columns-1 columns-5-ns center">
		<a class="dim pointer w-30 w-50-ns pa2" href="/index.html">
			<img src="{{ site.baseurl }}/assets/logo/logo-black.svg">
		</a>
		<a class="dim no-underline black pa2" href="About">About</a>
		<a class="dim no-underline black pa2" href="facebook">Facebook</a>
		<a class="dim no-underline black pa2" href="instagram">Instagram</a>
		<a class="dim no-underline black pa2" href="Pinterest">Pinterest</a>
		<a class="dim no-underline black pa2" href="facebook">Contact</a>

	</div>

	
</section>
        </div>

    </body>

</html>
