

<!-- The overlay -->
<div id="nav" class="fade-in fade-out w-100 h-100 fixed left-0 top-0 overflow-x-hidden bg-black z-2  columns-3 columns-2-ns pa5-ns pa4 dn">

  <!-- Overlay content -->
  <div class="column-start-1 ">
  	<a class="dim white f3 link no-underline dib tracked w4" href="{{ site.baseurl }}index.html">
  		<img src="{{ site.baseurl }}assets/logo/logo-white.svg">
  	</a>
  </div>


  <ul class="list column-start-2 column-end-4 tr pr2 mt0 z-3">

	<!-- Button to close the overlay navigation -->
  	<a href="javascript:void(0)" class="white no-underline f2 dim closebtn " onclick="closeNav()">
  		<img class="w2 pb4" src="{{ site.baseurl }}assets/close.svg"></a>
  	
    <li><a class="pv3 dim white f3 link no-underline dib tracked" href="{{ site.baseurl }}about.html">About</a></li>
    <li><a class="pv3 dim white f3 link no-underline dib tracked" href="{{ site.baseurl }}collection.html">Collection</a></li>
    <li><a class="pv3 dim white f3 link no-underline dib tracked" href="{{ site.baseurl }}our-brides.html">Our brides</a></li>
    <li><a class="pv3 dim white f3 link no-underline dib tracked" href="{{ site.baseurl }}services.html">Services</a></li>
    <li><a class="pv3 dim white f3 link no-underline dib tracked" href="{{ site.baseurl }}contact.html">Contact</a></li>

    <li><a class="avenir pb3 pt4 dim white f6 link no-underline dib tracked" href="#">Pinterest</a></li>
    <li><a class="avenir pv3 dim white f6 link no-underline dib tracked" href="https://www.instagram.com/bonbride/?hl=en">Instagram</a></li>
    <li><a class="avenir pv3 dim white f6 link no-underline dib tracked" href="#">Facebook</a></li>
  </ul>

</div>


<!-- Use any element to open/show the overlay navigation menu -->
<a class="bg-white-70 pa6 black br-pill fixed top-2 top-3-ns right-2 right-3-ns z-index-0 f5 link dim ph3 pv2 mb2 dib black ttu tracked pointer">
	<span onclick="openNav()">MENU</span>
</a>


