<header class="ttu tracked sans-serif w-100">
	<div class="cover bg-left bg-center-l vh-100" style="background-image: url({{ site.baseurl }}{{ page.hero-image }}">
		<div class="pa5-ns pa4">
			<div class="fl">
				<a class="f5 link dim white dib mr3" href="collections.html" >Collection</a>
	            <a class="f5 link dim white dib mr3" href="about.html" >About</a> 
			</div>

			<a class="f5 fr link dim white dib" href="/" >Contact</a> 
		</div>

		<div class="ma4 ma5-ns mt7 mt6-ns">
			<img src="{{ site.baseurl }}{{ page.logo}}">
		</div>
	</div>
</header>



