<!-- Image 1 and 2 --->
<div class="mt5 ga5 grid columns-1 columns-3-m columns-6-l align-items-center">

	<div class="column-start-1-ns column-end-3-m column-end-3-l ">
		<a class="dim no-underline black" href="{{ site.baseurl }}{{ page.collection-url-1 }}">
			<img src="{{ site.baseurl }}{{ page.image-1 }}">
			<p class="tracked"><span class="f5 mr2 b sans-serif">{{ page.cat-number-1 }}</span>{{ page.caption-1 }}</p>
		</a>
	</div>

	<div class="column-start-4-ns column-end-7-ns">
		<a class="dim no-underline black" href="{{ site.baseurl }}{{ page.collection-url-2 }}">
		<img src="{{ site.baseurl }}{{ page.image-2 }}">
		<p class="tracked"><span class="f5 mr2 b sans-serif">{{ page.cat-number-2 }}</span>{{ page.caption-2 }}</p>
	</a>
	</div>
</div>