<!-- Image 4 and 5 --->
<div class="mt5 ga5 grid columns-1 columns-3-m columns-6-l align-items-center">

	<div class="column-start-1-ns column-end-4-m column-end-4-l ">
		<a class="dim no-underline black" href="{{ site.baseurl }}{{ page.collection-url-4 }}">
		<img src="{{ site.baseurl }}{{ page.image-4 }}">
		<p class="tracked"><span class="f5 mr2 b sans-serif">{{ page.cat-number-4 }}</span>{{ page.caption-4 }}</p>
	</a>
		
	</div>

	<div class="column-start-4-ns column-end-7-ns">
		<a class="dim no-underline black" href="{{ site.baseurl }}{{ page.collection-url-5 }}">
		<img src="{{ site.baseurl }}{{ page.image-5 }}">
		<p class="tracked"><span class="f5 mr2 b sans-serif">{{ page.cat-number-5 }}</span>{{ page.caption-5 }}</p>
	</a>
	</div>
</div>