<!-- Image 9 --->
<div class="mt4 mt6-ns ga5 grid columns-1 columns-2-ns ">
	<div class="relative">
		<a class="dim no-underline black" href="{{ site.baseurl }}collection-01/{{ page.collection-url-9 }}">
			<img src="{{ site.baseurl }}{{ page.image-9 }}">
		</a>
		<p class="f-headline absolute top-0 top--5-ns left-0 left--3-ns ma0">{{ page.cat-number-9 }}</p>
		<p class="avenir lh-copy tracked f6">{{ page.caption-9 }}</p>
	</div>

	<div class="relative">
		<a class="dim no-underline black" href="{{ site.baseurl }}collection-01/{{ page.collection-url-10 }}">
			<img src="{{ site.baseurl }}{{ page.image-10 }}">
		</a>
		<p class="f-headline absolute bottom-2 bottom-2-ns right-0 right--3-ns ma0">{{ page.cat-number-10 }}</p>
		<p class="avenir lh-copy tracked f6">{{ page.caption-9 }}</p>
	</div>
</div>