<!-- Image 1 and 2 --->
<div class="mt5 ga2 ga5-ns grid columns-1 columns-2-m columns-6-l align-items-center">

	<div class="column-start-1-m column-end-1-m column-start-1-ns column-end-2-m column-end-3-l relative">
		<a class="dim no-underline black" href="{{ site.baseurl }}collection-01/{{ page.collection-url-1 }}">
			<img src="{{ site.baseurl }}{{ page.image-1 }}">
		</a>
		<p class="f-headline absolute top-0 top--5-ns left-0 left--2-ns ma0">{{ page.cat-number-1 }}</p>
		<p class="tracked f6">{{ page.caption-1 }}</p>
	</div>

	<div class="mt4 mt0-ns column-start-2-m column-end-2-m column-start-4-ns column-end-7-ns relative">
		<a class="dim no-underline black" href="{{ site.baseurl }}collection-01/{{ page.collection-url-2 }}">
			<img src="{{ site.baseurl }}{{ page.image-2 }}">
		</a>
		<p class="f-headline absolute bottom-2 right-0 ma0">{{ page.cat-number-2 }}</p>
		<p class="tracked f6">{{ page.caption-2 }}</p>
	</div>
</div>