{% include container.html %}

<nav class="pv3 pv4-ns">
  <a class="link dim black b f6 f5-ns dib mr3" href="({{ '/index.md' | relative_url }})" title="Home">Site Name</a>

  <a class="link dim gray    f6 f5-ns dib mr3" href="({{ '/index.md' | relative_url }})" title="Home">Home</a>
  <a class="link dim gray    f6 f5-ns dib mr3" href="about.html" title="About">About</a>
  <a class="link dim gray    f6 f5-ns dib mr3" href="({{ '/#.md' | relative_url }})" title="Store">Store</a>
  <a class="link dim gray    f6 f5-ns dib" href="({{ '/Contact.md' | relative_url }})" title="Contact">Contact</a>
</nav>

{% include container-end.html %}

