<div class="grid columns-1 columns-3-l items-center">

	<div class="relative pa4 pa5-ns tc bg-gray cover bg-left bg-center-l vh-75 vh-100-l" style="background-image: url({{ site.baseurl }}{{ page.hero-image }})">

		<div class="fl">
			<a href="{{ site.baseurl }}index.html">
				<img class="w4 dim pointer" src="{{ site.baseurl }}assets/logo/logo-black.svg">
			</a>
		</div>

	<h1 class="absolute bottom-0 left-0 f-headline lh-title tl mb0 pa4 pa5-ns ">{{ page.title }}</h1>

	</div>

	<div class="pa4 pa5-ns column-start-2-l column-end-4-l pb0">

	    <div class="f4 avenir fw3 measure lh-copy">
	    	{{ content }}
	    </div>

	</div>
</div>





