<div class="grid columns-1 columns-2-l">

	<header class="ttu tracked sans-serif w-100">
	<div class="cover bg-left bg-center-l vh-75 vh-100-l" style="background-image: url({{ site.baseurl }}{{ page.hero-image }})">
		<div class="pa5-ns pa4">
			<div class="fl">
				<a href="{{ site.baseurl }}index.html"><img class="w4 dim pointer" 
				src="{{ site.baseurl }}assets/logo/logo-white.svg"></a>
			</div>
		</div>
	</div>
	</header>

<div>

	<div class="pa5-l pa3">
	</div>
		<div class="ma4 ma5-l mt3 mt6-l">
			<div class="f-headline">{{ page.title }}</div>
			<div class="f4 pv4 tracked lh-copy avenir">
				{{ page.details }}
			</div>
			
			{% include typeform.html %}
			{% include next-previous.html %}

		</div>



	
</div>
</div>





