<div class="grid columns-1 columns-2-ns">

	<header class="ttu tracked sans-serif w-100">
	<div class="cover bg-left bg-center-l vh-100" style="background-image: url({{ site.baseurl }}{{ page.hero-image }})">
		<div class="pa5-ns pa4">
			<div class="fl">
				<a class="f5 link dim white dib mr3" href="{{ site.baseurl }}index.html">Home</a>
				<a class="f5 link dim white dib mr3" href="{{ site.baseurl }}collection.html" >Collection</a>
	            <a class="f5 link dim white dib mr3" href="{{ site.baseurl }}about.html" >About</a> 
			</div>

		</div>


	</div>
</header>

<div>

	<div class="pa5-ns pa3">
			<div class="fr">
				<a class="f5 fr link dim black dn dib-ns ttu tracked" href="contact.html" >Contact</a> 
			</div>
	</div>

		<div class="ma4 ma5-ns mt7 mt6-ns">
			<div class="f-headline">{{ page.title }}</div>

			<div class="f4 pv4 tracked lh-copy">
				{{ page.details }}
			</div>
			{% include typeform.html %}
			{% include next-previous.html %}
		</div>



	
</div>
</div>





