{% include header.html %}
{% include split-hero.html %}

{% include container.html %}


<div class="grid columns-1 columns-2-ns ga4 items-center">
	<img class="" src="{{ site.baseurl }}{{ page.image-1 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-2 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-3 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-4 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-5 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-6 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-7 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-8 }}">
</div>


{% include container-end.html %}
{% include footer.html %}
	