{% include header.html %}

			<div class="absolute top-2 left-2 top-3-m left-3-m top-4-l left-4-l">
				<a href="{{ site.baseurl }}index.html"><img class="w4 dim pointer" 
				src="{{ site.baseurl }}assets/logo/logo-black.svg"></a>
			</div>


			<div class="pa2 pa3-ns w-100 vh-100 bg-center" style="background-image: url({{ site.baseurl }}{{ page.hero-image }})">


				<div class="grid items-center w-100 b--white ba bw4 h-100">
					<div class="center tc f2 f-headline-ns pa4">
						collection:01
					</div>
				</div>

			</div>

{% include container.html %}

	<div class="measure-wide center lh-copy f5 avenir mv3 mv5-ns ">
		{{ content }}

		<div class="f3 lh-copy measure center mv5">
		{{ page.quote }}
		</div>
	</div>
{% include collections.html %}

{% include container-end.html %}
{% include full-screen-menu.html %}

{% include footer.html %}
	