{% include header.html %}
{% include split-hero.html %}

{% include container.html %}

{% if user.image-count == '2' %}
<div class="grid columns-1 columns-2-ns ga4 items-center">
	<img class="" src="{{ site.baseurl }}{{ page.image-1 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-2 }}">
</div>
{% endif %}


{% if user.image-count == '3' %}
<div class="grid columns-1 columns-3-ns ga4 items-center">
	<img class="" src="{{ site.baseurl }}{{ page.image-1 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-2 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-3 }}">
</div>
{% endif %}


{% if user.image-count == '4' %}
<div class="grid columns-1 columns-2-ns ga4 items-center">
	<img class="" src="{{ site.baseurl }}{{ page.image-1 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-2 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-3 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-4 }}">
</div>
{% endif %}


{% if user.image-count == '5' %}
<div class="grid columns-1 columns-2-ns ga4 items-center">
	<img class="" src="{{ site.baseurl }}{{ page.image-1 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-2 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-3 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-4 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-5 }}">
</div>
{% endif %}


{% if user.image-count == '6' %}
<div class="grid columns-1 columns-3-ns ga4 items-center">
	<img class="" src="{{ site.baseurl }}{{ page.image-1 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-2 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-3 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-4 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-5 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-6 }}">
</div>
{% endif %}


{% if user.image-count == '7' %}
<div class="grid columns-1 columns-2-ns ga4 items-center">
	<<img class="" src="{{ site.baseurl }}{{ page.image-1 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-2 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-3 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-4 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-5 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-6 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-7 }}">
</div>
{% endif %}


{% if user.image-count == '8' %}
<div class="grid columns-1 columns-2-ns ga4 items-center">
	<img class="" src="{{ site.baseurl }}{{ page.image-1 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-2 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-3 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-4 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-5 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-6 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-7 }}">
	<img class="" src="{{ site.baseurl }}{{ page.image-8 }}">
</div>
{% endif %}


{% include container-end.html %}
{% include footer.html %}
	