{% include header.html %}
{% include hero.html %}

{% include side-nav-left.html %}
{% include side-nav-right.html %}


{% include container.html %}

<div class="measure nt4-l tc center lh-copy tracked f3 mb2 pa5">
	{{ content}}
</div>


{% include images-1-and-2.html %}
{% include images-3.html %}
{% include quote.html %}

{% include images-4-and-5.html %}


{% include images-6.html %}
{% include images-7-and-8.html %}
{% include images-9.html %}


{% include container-end.html %}

{% include full-screen-menu.html %}
{% include footer.html %}
